affine==2.3.0
appdirs==1.4.4
astroid==2.4.2
attrs==20.1.0
autopep8==1.5.4
awscli==1.18.97
botocore==1.17.20
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.3
Cython==0.29.7
decorator==4.4.2
distlib==0.3.1
docutils==0.15.2
filelock==3.0.12
GDAL>=3.0
isort==5.4.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
matplotlib==3.3.1
mccabe==0.6.1
networkx==2.5
numpy==1.19.0
postgis==1.0.4
prompt-toolkit==1.0.14
psycopg2-binary==2.8.5
pyasn1==0.4.8
pycodestyle==2.6.0
pygeoprocessing==2.1.0
Pygments==2.6.1
PyInquirer==1.0.3
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
rasterio==1.1.5
regex==2020.7.14
rsa==4.5
Rtree==0.9.4
s3transfer==0.3.3
scikit-fuzzy==0.4.2
scipy==1.5.1
semver==2.10.2
Shapely==1.7.0
six==1.15.0
snuggs==1.4.7
termcolor==1.1.0
toml==0.10.1
urllib3==1.25.9
virtualenv==20.0.26
wcwidth==0.2.5
wrapt==1.12.1
