autopep8==2.0.4
boto3==1.34.28
colorama==0.4.3
Cython==3.0.8
decorator==4.4.2
distlib==0.3.1
docutils==0.15.2
filelock==3.0.12
html5print==0.1.2
inquirer==3.2.1
isort==5.4.2
jinja2>=2.11.3
jmespath==0.10.0
lazy-object-proxy==1.4.3
matplotlib==3.9.2
mccabe==0.6.1
networkx==2.5
numpy==1.23.4
postgis==1.0.4
psutil==5.8.0
psycopg2-binary==2.9.3
pycodestyle==2.11.1
Pygments>=2.7.4
PyInquirer==1.0.3
pylint==3.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
rasterio>=1.1.5
regex==2020.7.14
rsa>=4.7
rsxml==2.0.6
Rtree>=0.9.4
scikit-fuzzy==0.4.2
scipy>=1.8.1
semver==2.10.2
Shapely==1.8.5.post1
snuggs==1.4.7
sympy==1.8
termcolor==1.1.0
urllib3>=1.26.5
